.text-decorator-none{
    text-decoration: none;
}
.projetos {
  width: 100%;
}
.projetos .css-ibnnmb {
  margin: 1% 0 !important;
}
.projeto {
  margin: 2% 0;
}
.projetos .projeto #perfil-foto span {
  color: #6650e6;
  margin-right: 500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.projetos .projeto #perfil-foto .MuiAvatar-circular {
  border: 1px solid #6650e6;
}

.projetos .projeto .projetoNome {
  border-bottom: 1px solid #8B8B8B;
  padding: 0 0 1% 0;
  margin: 0 0 2% 0;
}
.projetos .projeto .campoComentario {
  display: flex;
  flex-direction: row;
}
.projetos .projeto .campoComentario img {
  width: 4rem;
  height: 4rem;
  margin: 0 3% 0 0;
}
.projetos .projeto .campoComentario .textoData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projetos .projeto .campoComentario .textoData h5 {
  margin: 0;
  color: #6650e6;
}
.projetos .projeto .campoComentario .textoData .mensagem {
  margin: 0;
}
.projetos .projeto .campoComentario .textoData .dataAtual {
  color: #8B8B8B;
  font-size: 0.8rem;
}
