.cadastro-container {
    background-color: rgb(188, 115, 233, 0.2);

}

label{
    color: blue!important;
}

.input-projeto{
    color: black!important;
}

.MuiInputBase-input{
    color: black!important;
}

.topo {
    display: flex;
    margin-top: 20px;
}


