@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.main {
  display: flex;
  min-height: 100vh;
}
.bg-menu{
    background:radial-gradient(circle, #eeaeca 0%, rgba(148,187,233,1) 100%);
}

.title{
    font-weight: bold!important;
    font-family: 'Nunito', sans-serif!important;
}

.cursor{
    cursor: pointer;
    color: white;

}

.text-decoration-none{
    text-decoration: none;
    color: white;
 
}
.MuiTypography-body1 {
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif!important;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: bold!important;
}
.botaoNav{
    background-color: #fff9fc2b!important;
    border-radius: 10px;
    border: 1px solid azure;
    padding: 0.3rem;
   
}

.botaoNav:hover{
    color: #df146c;
    background-color: rgba(247, 251, 251, 0.821)!important;
    font-weight: bold!important;
    transform: scale(1.1);
    transition: all 0.4s;
}

.botoes{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

/* Navbar Novo */
.navbar {
  width: 20%;
  height: 100vh;
  display: block;
  border-right: 1px solid rgba(0,0,0,.2);
}
.navbar #logo {
  width: 40%;
  margin: 10px auto;
  display: block;
}
.navbar #busca {
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 1rem;
  margin-left: 15px;
  padding: 0;
}
.navbar #busca:focus {
  outline: none;
}
.navbar a {
  text-decoration: none;
  display: block;
  margin: 10px 0;
  width: 100%;
}
.navbar a button {
  border: none;
  width: 100%;
  justify-content: left;
  color: #6650e6;
}
.navbar a button .icone {
  width: 10%;
  margin: 0 2% 0 0;
}
