.home {
  width: 100%;
  background-color: rgb(188, 115, 233, .1);
  margin: 0 auto;
}
.container-home {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.home .titulo {
  display: block;
  text-align: left;
  margin: 2% 0 0 0;
}
.home .msg-block {
  background-color: rgba(255,255,255,1);
  max-width: 100%;
  margin: 2% auto;
  padding: 1%;
  border-radius: 4px;
}
.home .msg-block .msg-field {
  display: flex;
  margin-bottom: 3%;
}
.home .msg-block .msg-field img {
  border-radius: 50%;
  width: 20%;
  margin: 0 2% 0 0;
}
.home .msg-block .msg-field textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 0.875rem;
}
.home .msg-block .msg-field textarea:focus {
  outline: none;
}
.home .msg-block .btn-acao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .msg-block .btn-acao .icones {
  width: 50%;
  display: flex;
  justify-content: center;

}
.home .msg-block .btn-acao .icones img {
  max-width: 5%;
  margin: 0 1%;
}
.home .msg-block .btn-acao button {
  display: block;
  width: 20%;
  border: none;
  background-color: #6650e6;
  color: #fff;
  border-radius: 4%;
  cursor: pointer;
}
.home .projetos-home .css-1c5ij41 {
  margin: 0 !important;
  width: 100% ;
  
}
