.card-container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgb(188, 115, 233, .2);
}

.card-container-info {
    background-color: rgba(255, 255, 255, 0.916);
    margin: 2% auto;
    padding: 1%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width:40rem;
    height:15rem;
}

.card-imagem {
    object-fit: cover;
    justify-content: flex-start;
    width: 20%;
    max-height: 100%;
    padding: 2rem;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.dados-usuarios {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem!important
}

.info {
    padding: 0.3rem;
    font-weight: bold;
    font-family: sans-serif !important;
}

.info-b {
    padding: 0.3rem;
    font-family: sans-serif !important;
    margin: 0 !important;
}

.vazio {
    width: 2rem;
}

.card-container-texto {
    max-width: 550px;
    height: 100%;
    margin-top: 2rem !important;
    display: flex !important;
    justify-content: center !important;

}

.bio {
    width: 100%;
    height: 100%;
    margin: 1rem !important;
    text-align: justify;
}

.card-container-about {
    background-color: rgba(255, 255, 255, 0.916);
    align-items: flex-start;
    height: 15rem;
    width: 40rem;
    border-radius: 4px;
    display: flex;
    margin: 2% auto;
    padding: 1%;
}

.postagem{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width:40rem;
    height:100%; 
    align-items: flex-start!important;
}