.form-tema{
    border-radius: 4px!important;
}

.label{
    color: black!important;
}

.input-projeto{
    color: black!important;
}

.MuiInputBase-input{
    color: black!important;
}

.topo {
    display: flex;
    margin-top: 20px;
}

.text-decoration-none{
    text-decoration-none: none;
}

.botaor-tema{
    display:flex;
    align-items: center;
    background-color:rgba(201,108,240,0.5)!important;
  }
  
  .botao-tema:hover{
    color: #df146c;
    background-color: rgba(247, 251, 251, 0.821)!important;
    font-weight: bold!important;
    transform: scale(1.1);
    transition: all 0.4s;
  }


