.cardImg {
    object-fit: cover;
    justify-content: flex-start;
    width: 40rem;
    height: 2rem;
    padding: 2rem;
}

.img {
    width: 300px;
    border-radius: 1rem;
}

.bg-projetos{
    background-color: rgb(188, 115, 233, 0.1);
}

.comentario{
    padding: 2rem !important;

}

.box-comentario{
    padding: 2rem;
}