.card-post {
    object-fit: cover !important;
    justify-content: flex-start !important;
    width: 3rem !important;
    height: 3rem!important;
    padding: 2rem;
}

.img-post {
    width: 25% !important;
    max-height: 100% !important;
    border-radius: 10rem !important;
}

.bg-projetos{
    background-color: rgb(188, 115, 233, 0.1);
}

.CardContent> img{
    width: 800px !important;
    height: 400px !important;
}