.box1{
    display: flex;
    background: radial-gradient(circle, (#ADDDF7) 100%);
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    background-color: #0c0c0c1c;
    
}

.redes{
   font-size: 3rem!important;
    color: #4487AB;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;

}

.box2{
    display: flex;
    justify-content: center;
}

.textos{
    color: #42545e;
}